$fuente_principal: "Montserrat", sans-serif;

// colors
$green:#4CB8B3;
$pink: #F53756;
$yellow: #fdda00;
$purple: #752F97;
$black: #000000;
$white: #FFFFFF;

// Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
