@use 'base/variables' as v;
@use 'base/mixins' as m;

.galeria {
   @include m.contenedor;

   &-imagenes {
      @include m.grid(1, 2rem);
      @include m.telefono {
         @include m.grid(2, 2rem);
      }
      @include m.tablet {
         @include m.grid(3, 2rem);
      }
      @include m.desktop {
         @include m.grid(4, 2rem);
      }

      img {
         height: 20rem;
         object-fit: cover;
      }
   }
}

.modal {

   position: fixed;
   inset: 0;  // equivale a top:0 left:0 right:0 y bottom:0


   background-color: rgba(v.$black, 50%)
   // opacity: 75%;
}
