@use 'base/variables' as v;

.header {
   background-color: v.$green;

   .contenido-header {
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   h1 {
      color: v.$white;
      margin: 0;
   }
}

.navegacion-principal {
   display: flex;
   gap: 2rem;

   a {
      color: v.$white;
      font-size: 2.4rem;

      &:hover {
         color: v.$yellow;
      }
   }
}
